{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      POI : Organise and record your Camino experience </p>
    <p class="box">
      <i class="fas fa-hiking fa-10x" style="color:dodgerblue"></i>     
      <i class="fas fa-map-marked fa-9x" style="color:dodgerblue"></i>
    </p>
  </div>
</section>