{{> welcome-menu}}

<section class="ui center aligned middle aligned segment">
     <h1 class="ui header">Sign up or Log in...</h1>
  <div>
    <figure class="image is-612x612">
    <img src="/images/camino-612x612.jpg" alt="People walking on a path with Camino sign">
    </figure>
  </div>
</section>